// ==============
//  c-button
//  =============
.c-btn {
  cursor: pointer;
  text-decoration: none;

  display: inline-block;
  font-family: inherit;
  line-height: 1;
  padding: $space_m 50px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: #f1f1f1;
  background: #5892d9;
  &:hover {
    background: #7eb1d6;
  }

  &--link {
    border: 0;
  }

  &--fluid {
    width: 100%;
  }


  &--primary {
    background: $color_Primary;
  }

  &__follow {

  }
  &__main {
    text-align: center;
    padding: $space_l 100px;
    margin: auto 0;
    font-size: 1.2rem;
  }

  &__disabled {
    cursor: not-allowed;
    background: #dedede;
    color: #0b2e13;
  }
}