// ==============
//  c-checkbox
// ==============
.c-checkbox {
  &__space {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    @include mq() {
      padding: 0 20px;
    }
  }
  &__item {
    font-size: $font-size_l;
    width: 25%;
    height: 30px;
    margin-bottom: 15px;
    @include mq($breakpoint: md) {
      width: 33%;
      height: 25px;
    }
    @include mq() {
      font-size: $font-size_m;
      width: 49%;
      height: 20px;
    }
  }
  &__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}