// ==============
//  c-form
//  =============
.c-form {
  &__input {
    border: 1px solid #666;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-bottom: $space_xl;
    font-size: $font-size_l;
    &:focus {
      border: 1px solid #f66d9b;
      box-shadow: #f66d9b 0 0 4px;
    }
  }
}