// ==============
//  c-icon
//  =============
.c-icon {
  padding: 3px 5px;
  background: #f6e47d;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: -15px;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
}