// ==============
//  c-icon
//  =============
.c-icon {
  &__new {
    padding: 5px 8px;
    background: #f6e47d;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: -15px;
    text-align: center;
    opacity: 0.8;
    box-shadow: #cdcdcd 1px 2px 2px;
    font-size: $font-size_s;
  }
  &__scrolltop {
    padding: 10px 10px;
    background: $btn-color_scroll;
    border: 1px solid #cdcdcd;
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    font-size: $font-size_s;
    :hover {
      opacity: 1;
      background: #f66d9b;
    }
    @include mq() {
      width: 50px;
      height: 50px;
      bottom: 30px;
    }
    &--none {
      display: none;
    }
    &--text {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
