// ==============
//  c-paginate
//  =============
.c-paginate {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  justify-content: center;
  overflow-x: hidden;
  @include mq() {
    width: 100%;
  }
  &__item {
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    @include mq() {
      font-size: 12px;
      margin-right: 6px;
    }
    &:hover {
      background: #cdcdcd;
    }
    &--active {
      background: #646464;
      color: $font-color_white;
      font-weight: bold;
    }
  }
  &__link {
    padding: 10px 10px;
    display: block;
    @include mq() {
      padding: 8px 7px;
    }
  }
}
