// =============
//  c-tab
// =============
.c-tab {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border: 1px solid #dedede;
    border-bottom: 2px solid #dedede;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;

    color: #8a8a8a;
    cursor: pointer;
    padding: 1.2rem;

    &:hover {
      background: #cdcdcd;
    }

    &--active {
      border-bottom: 2px solid $font-color_dark;
      color: #222;
      font-weight: bold;
    }
  }
}