// ==============
//  p-account
//  =============
.p-accounts{
  background: #f5f6ff;
  box-shadow: #f5f6ff 0 0 20px;
  padding: 15px 40px;

  @include mq() {
    padding: 0;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    box-shadow: 0 0 2px #cdcdcd;
    border-radius: 4px;
    font-size: 15px;
    background: #ffffff;
    color: #0b2e13;
    transition: .5s all;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    padding: 20px 15px;
    display: flex;
    @include mq() {
      padding: 10px 5px;
    }

    &:nth-child(2n){
      background: #fbf7fd;
    }
    &:nth-child(2n+1){
      background: #ffffff;
    }
  }

  &__autofollow {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
      flex-direction: column;
    }
    &--status {
      padding: 5px;
      font-size: $font-size_l;
      @include mq() {
        font-size: $font-size_s;
        margin-top: 12px;
        margin-bottom: 5px;
      }
      & span {
      font-weight: bold;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    &--left {
      margin-right: 20px;
      @include mq($breakpoint: md) {
        margin-right: 10px;
      }
      @include mq() {
        margin-right: 5px;
      }
    }
    &--right {
      width: 100%;
    }
  }

  // アカウントのアイコン
  &__icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    @include mq($breakpoint: md) {
      height: 50px;
      width: 50px;
    }
    @include mq() {
      height: 30px;
      width: 30px;
    }
    &--container {
      overflow: hidden;
      height: 80px;
      width: 80px;
      @include mq($breakpoint: md) {
        height: 50px;
        width: 50px;
      }
      @include mq() {
        height: 30px;
        width: 30px;
      }
    }
  }
  // プロフィール・及びフォロー関係のエリア。
  &__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__name {
    width: 75%;
    display: flex;
    flex-direction: column;
    @include mq() {
      width: 65%;
    }
    // アカウント名
    &--nickname {
      line-height: 120%;
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
      & p:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      @include mq($breakpoint: md) {
        font-size: $font-size_default;
      }
      @include mq() {
        font-size: $font-size_m;
      }

    }
    // ユーザー名(@XXXXxxxxXXXXxxxx)
    &--username {
      // TODO
      font-size: 12px;
      color: #a4a4a4;
      & span:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  // デスクリプション。アカウントのプロフィール
  &__description {
    line-height: 150%;
    font-size: 15px;
    margin-bottom: $space_s;
    word-break: break-all;
    // 投稿時刻
    & span {
      font-size: $font-size_ss;
      color: #b4b4b4;
    }
    @include mq($breakpoint: md) {
      font-size: $font-size_s;
    }
    @include mq() {
      font-size: $font-size_ss;
    }
  }

  // フォローボタンのエリア
  &__btn--area {
    margin: 0 auto;
  }

  // フォロー数とフォロワー数
  &__ff {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $font-color_default;
    padding-top: 10px;
    padding-bottom: 10px;
    // 共通要素
    &--item {
      margin-bottom: $space_s;
      display: flex;
      align-items: center;
      word-break: break-all;
    }
    // アカウントユーザーのフォロー数orフォロワー数を表す数字
    &--count {
      line-height: 150%;
      font-weight: bold;
      font-size: $font-size_l;
      @include mq() {
        font-size: $font-size_l;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    // フォロー中 or フォロワー の文言
    &--title {
      width: 80px;
      font-size: 12px;
      letter-spacing: .5px;
      color: $font-color_default;
    }
  }

  // 新着ツイート
  &__tweet {
    // 新着ツイートと、日付
    &--data {
      display: flex;
      flex-direction: column;

      border: 1px solid #cacaca;
      border-radius: 4px;
      height: auto;
      width: 100%;
      padding: 5px 10px;

      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;

      font-size: 15px;
      line-height: 20px;
      @include mq() {
        font-size: 12px;
        padding: 3px 5px;
        line-height: 15px;
      }
    }
    &--span {
      color: #a4a4a4;
    }
    &--date {
      font-size: 12px;
      text-align: right;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &--nothing {
      padding: 10px 0;
      text-align: center;
    }
  }
}