// ==============
//  p-form
//  =============
.p-form {
  padding: $space_xxl 0;
  @include mq() {
    padding: $space_xl $space_l;
  }

  &__title {
    font-size: $font-size_xl;
    text-align: center;
    margin-bottom: $space_l;
  }
  &__decription {
    margin-bottom: $space_xl;
  }
  &__info {
    margin-bottom: $space_s;
    display: inline-block;
  }
  &__submit {
    margin-top: 30px;
    text-align: center;
  }
  &__item {
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    margin-bottom: $space_xl;
    padding: $space_m $space_l;
    letter-spacing: .1rem;
    width: 100%;
    &:focus {
      border: 1px solid $input-color;
      box-shadow: 0 0 5px $input-color;
    }

    &--check {
      margin-top: $space_xxl;
      margin-bottom: 50px;
      & input {
        vertical-align: baseline;
      }
      @include mq() {
        margin-top: 8px;
        margin-bottom: 20px;
      }
    }
  }
  &__send {
    margin-top: 15px;
    margin-bottom: 50px;
    &--msg {
      font-size: $font-size_xl;
    }
  }

  &__textarea {
    resize: none;
    font-size: 1.2rem;
    height: 13rem;
    @include mq($breakpoint: sm) {
      height: 20rem;
    }
  }
}