// ==============
//  p-form
//  =============
.p-form {
  padding: $space_xxl 0;

  &__title {
    font-size: $font-size_xl;
    text-align: center;
    margin-bottom: $space_l;
  }
  &__decription {
    margin-bottom: $space_xl;
  }
  &__info {
    margin-bottom: $space_s;
    display: inline-block;
  }


  &__item {
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    margin-bottom: $space_xl;
    padding: $space_m $space_l;
    letter-spacing: .1rem;
    width: 100%;

    &:focus {
      // 以下はわかりやすく変数名をつけて管理すること
      border: 1px solid $input-color;
      box-shadow: 0 0 5px $input-color;
    }
    &--error {
      // フォームのエラー時に該当箇所を赤背景にする
      background: #fff3f3;
    }

    &--check {
      margin-top: $space_xxl;
      & input {
        vertical-align: baseline;
      }
    }
  }

  &__textarea {
    resize: none;
    font-size: 1.2rem;
    height: 13rem;
    @include mq($breakpoint: sm) {
      height: 20rem;
    }
  }
}