// ==============
//  p-navbar
//  =============
.p-navbar {
  width: 100%;
  height: 64px;
  background: $background-color_base;
  display: flex;
  justify-content: space-between;

  font-size: 15px;
  letter-spacing: 1px;
  &__menu {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
  }
  &__item {

  }
}