// ==============
//  p-news
//  =============
.p-news {
  &__container {
    background: #f5f8ff;
    box-shadow: #edf1fa 0 0 20px;
    margin-top: 20px;
    padding: 15px 25px;
  }

  &__search {
    width: 70%;
    background: #fdfdfd;
    box-shadow: #b0b0b0 0 0 5px;
    border-radius: 10px;
  }

  &__headline {
    margin: 20px 30px;
    display: flex;
  }
  &__list {
    margin: 20px 30px;
  }

  // ニュースの一覧表示画面で出てくる用のコンポーネント
  &__item {
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 150px; //TODO
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #0b2e13;
    font-size: 20px;
    box-shadow: 0 0 2px #cdcdcd;
    transition: .5s all;
    display: flex;
    word-break: break-word;

    &:nth-child(2n){
      background: #f6f6f6;
    }
    &:nth-child(2n+1){
      background: #ffffff;
    }


    &:hover {
      background: #fef7ff;
      border: 1px solid #f66d9b;
      box-shadow: 0 0 3px #f66d9b;
    }
    &--picture {
      height: 120px;
      width: 120px; //TODO
      margin-right: 15px;
      background: #FFF;
      border-radius: 10px;
      border: 1px solid #cdcdcd;
    }
    &--title {
      width: 65%;
      font-size: 20px;
      border-right: 0.5px solid #000;
      line-height: 1.2;
      &:hover {
        text-decoration: underline;
        text-decoration-color: #0b2e13;
      }
    }
    &--data {
      width: 20%;
      display: flex;
      flex-direction: column;

      .p-news__item--media {
        height: 50%;
        width: 100%;
        padding: 0 10px;
        font-size: 15px;
      }
      .p-news__item--time {
        height: 50%;
        width: 100%;
        padding: 0 10px;
        color: #4dc0b5;
      }
    }
    // 24hいないのタグ
    &--new {
      background: #f8ffed;
      box-shadow: 1px 1px 3px #cbe8ff;
    }
    // 記事がない時に表示する
    &--nothing {
      text-align: center;
      box-sizing: border-box;
      padding: 15px 25px;
      h2 {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}