// ==============
//  p-news
//  =============
.p-news {
  margin-top: 20px;
  padding: 15px 50px;
  background: #f8fdff;
  @include mq() {
    padding: 5px 10px;
  }

  &__search {
    border-bottom: solid 1px #cdcdcd;
    margin-bottom: 15px;
    padding-bottom: 18px;
    width: inherit;
    &--inner {
      margin-left: auto;
      margin-right: auto;

      width: 100%;
      font-size: 16px;
      line-height: 1.5;
    }
    &--item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-top: 15px;
      @include mq($breakpoint: md) {
        font-size: 14px;

        justify-content: unset;
        flex-direction: column;
      }
    }
    &--info {
      color: #cdcdcd;
      width: 120px;
    }
    &--content {
      width: 80%;
    }
    &--content--searchWords {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &--btn {
      &--inner {
        text-align: right;
        margin-right: $space_s;
        margin-bottom: $space_l;
        @include mq() {
          text-align: unset;
        }
      }
    }
    &--description {
      margin-top: 10px;
      margin-bottom: 10px;
      @include mq() {
        font-size: $font-size_s;
      }
    }
  }
  &__checkbox {
    margin: 0 auto;
  }

  &__list {
    margin-bottom: 30px;
  }

  // ニュースの一覧表示画面で出てくる用のコンポーネント
  &__item {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    padding: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #0b2e13;
    font-size: 15px;
    box-shadow: 0 0 2px #cdcdcd;
    transition: 0.5s all;
    display: flex;
    word-break: break-all;

    @include mq($breakpoint: md) {
      flex-direction: column;
    }


    &--container {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &--title {
      display: block;
      width: 75%;
      height: 100%;
      padding-right: $space_s;
      @include mq($breakpoint: md) {
        width: 90%;
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: $space_m;
      }
      &--link {
        line-height: 1.5;
        &:hover {
          text-decoration: underline;
          text-decoration-color: #0b2e13;
        }
      }
    }
    &--data {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      & > .p-news__item--media {
        height: 60%;
        width: 100%;
        font-size: 12px;
      }
      & > .p-news__item--time {
        font-size: 15px;
        padding-bottom: 12px;
        height: 40%;
        width: 100%;
        color: #279187;
      }
      &--container {
        display: inline-block;
        width: 20%;
        height: 100%;
        @include mq($breakpoint: md) {
          width: 100%;
        }
      }
    }
    // 記事がない時に表示する
    &--nothing {
      padding: 15px 25px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
      }
    }
    &:nth-child(2n) {
      background: #f6f6f6;
    }
    &:nth-child(2n + 1) {
      background: #ffffff;
    }
  }
  &__new {
    border: 1px solid $icon-color-new;
    box-shadow: $icon-color-new 0 0 3px;
  }

  &__block {
    display: block;
  }
}
