// ==============
//  p-news
//  =============
.p-news {
  margin-top: 20px;
  padding: 15px 50px;
  background: #f8fdff;
  @include mq() {
    padding: 5px 10px;
  }

  &__search {
    border-bottom: solid 1px #cdcdcd;
    margin-bottom: 15px;
    padding-bottom: 18px;
    width: inherit;
    &--inner {
      margin-left: auto;
      margin-right: auto;

      width: 100%;
      font-size: 16px;
      line-height: 1.5;
    }
    &--item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 15px;
      @include mq($breakpoint: md) {
        font-size: 14px;
        justify-content: unset;
        flex-direction: column;
      }
    }
    &--info {
      color: #cdcdcd;
      width: 120px;
    }
    &--content {
      width: 80%;
    }
    &--content--searchWords {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &--btn {
      &--inner {
        text-align: right;
        margin-right: $space_s;
        margin-bottom: $space_l;
        @include mq() {
          text-align: center;
        }
      }
    }
    &--description {
      line-height: 1.5;
      margin-top: 10px;
      margin-bottom: 10px;
      @include mq() {
        font-size: $font-size_s;
      }
    }
  }
  &__checkbox {
    margin: 0 auto;
  }
  &__modal {
    margin-left: 3px;
  }

  &__list {
    margin-bottom: 30px;
  }

  // ニュースの一覧表示画面で出てくる用のコンポーネント
  &__item {
    border-radius: 4px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    padding: 10px 15px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #0b2e13;
    font-size: 15px;
    box-shadow: 0 0 2px #cdcdcd;
    transition: 0.5s all;
    word-break: break-all;

    &:nth-child(2n) {
      background: #f8f8f8;
    }
    &:nth-child(2n + 1) {
      background: #ffffff;
    }
    &--container {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &--title {
      font-size: $font-size_l;
      width: 90%;
      height: 100%;
      &--link {
        line-height: 1.4;
        &:hover {
          text-decoration: underline;
          text-decoration-color: #0b2e13;
        }
      }
    }
    &--data {
      margin-top: 10px;
      width: 100%;
      height: 100%;
      border-top: 1px solid #cdcdcd;
      padding-top: $space_m;
      & > .p-news__item--time {
        font-size: 15px;
        margin-right: 4px;
        color: #279187;
        @include mq() {
          font-size: 13px;
        }
      }
      & > .p-news__item--media {
        color: #888888;
        font-size: 13px;
        @include mq() {
          font-size: 11px;
        }
      }
    }
    &--container {
      height: 100%;
      display: inline-block;
    }
  }
  &__new {
    border: 1px solid $icon-color-new;
    box-shadow: $icon-color-new 0 0 3px;
  }
}
