.p-news__item[data-v-1e9a0c14] {
  -webkit-animation: fadeIn-data-v-1e9a0c14 1s;
          animation: fadeIn-data-v-1e9a0c14 1s;
}
@-webkit-keyframes fadeIn-data-v-1e9a0c14 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn-data-v-1e9a0c14 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.p-news__searchBox[data-v-f7689e98] {
  border-bottom: solid 1px #DDD;
  margin-bottom: 30px;
  padding-bottom: 18px;
  width: inherit;
}
.p-news__searchBox--Inner[data-v-f7689e98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.5;
}
.p-news__searchBox--Item[data-v-f7689e98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.p-news__searchBox--title[data-v-f7689e98] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #AAA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  padding: 0 10px;
}
.p-news__searchBox--content[data-v-f7689e98] {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-news__searchBox--content--searchWords[data-v-f7689e98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.p-accounts__item[data-v-2fe28b22] {
  -webkit-animation: fadeIn-data-v-2fe28b22 1s;
          animation: fadeIn-data-v-2fe28b22 1s;
}
@-webkit-keyframes fadeIn-data-v-2fe28b22 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn-data-v-2fe28b22 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.item-2[data-v-2fe28b22] {
  /*background: #c5ccd9;*/
}
.item-3[data-v-2fe28b22] {
  /*background: #bfabcb;*/
}
.item-4[data-v-2fe28b22] {
  /*background: #c4ceff;*/
}
.item-5[data-v-2fe28b22] {
  /*background: #d2eed5;*/
}
.item-6[data-v-2fe28b22] {
  /*background: #ffdaf7;*/
}
.item-7[data-v-2fe28b22] {
  /*background: #b5fff0;*/
}
.renkei[data-v-ea61d8de] {
  text-align: center;
}
.c-trends__item--icon[data-v-6e7588c6] {
  height: 5rem;
  width: 5rem;
}
.c-trends__item--realname[data-v-6e7588c6] {
  font-size: 10px;
}
.p-trends__list--container[data-v-5429d82a] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dummyflex[data-v-36899e76] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.dummybox[data-v-36899e76] {
  width: 45%;
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #0a0a0a;
  background: #d8d8d8;
  min-height: 200px;
}
.item1[data-v-0b57cd5f] {
  /*background: #dd69cd;*/
}
.item2[data-v-0b57cd5f] {
  /*background: #ffcd22;*/
}
.item3[data-v-0b57cd5f] {
  /*background: #82AAFF;*/
}
.p-footer__container[data-v-0b57cd5f] {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #09093e;
}
.p-footer__item[data-v-0b57cd5f] {
  width: 25%;
  margin-right: 20px;
}
.p-footer__logo[data-v-0b57cd5f] {
  width: 50%;
  height: 100px;
  border-radius: 15px;
  margin-right: 100px;
  background: #82AAFF;
}
.p-footer__main[data-v-0b57cd5f] {
  /*-webkit-box-align: center;*/
  /*align-items: center;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-footer__item--title[data-v-0b57cd5f] {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.p-footer__menus li[data-v-0b57cd5f] {
  padding-top: 10px;
}
.p-footer__menus li[data-v-0b57cd5f] :hover {
  text-decoration: underline;
  cursor: pointer;
}
.p-footer__copyright[data-v-0b57cd5f] {
  text-align: center;
  font-size: 1rem;
  padding: 25px 0;
}
