@charset "UTF-8";

/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model */

/* ============================================ */

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */

/* ============================================ */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */

select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable] {
  outline: none;
}

/* Table */

/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */

/* ============================================ */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #1b515f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

main {
  margin-top: 7rem;
}

.l-content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.l-header {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

.l-footer {
  align-items: center;
  display: flex;
  height: 180px;
  justify-content: center;
  margin-top: auto;
}

.l-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2%;
}

@media screen and (min-width: 1200px) {
  .l-container {
    max-width: 1200px;
  }
}

.l-container--authform {
  margin: 0 auto;
  max-width: 600px;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .l-container--authform {
    max-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .l-container--authform {
    max-width: 100%;
  }
}

.l-container__content {
  padding: 15px 25px;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .l-container__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .l-container__content {
    max-width: 100%;
  }
}

.p-auth .p-auth__dividingText {
  margin: 30px auto 15px;
  text-align: center;
}

.p-auth .p-auth__dividingText-spanborder {
  display: inline-block;
  padding: 0 30px;
  position: relative;
  z-index: 1;
  background: #fff;
}

.p-auth .p-auth__dividingText:before {
  border-top: 1px solid #2e1f1a;
  content: "";
  display: block;
  position: relative;
  z-index: 0;
}

.p-auth .p-auth__dividingText:before {
  top: 8px;
}

.p-auth__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.p-auth__checkbox {
  margin-bottom: 20px;
}

.p-form {
  padding: 30px 0;
}

.p-form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding: 10px 15px;
  letter-spacing: 0.1rem;
  width: 100%;
}

.p-form__item:focus {
  border: 1px solid #f66d9b;
  box-shadow: 0 0 5px #f66d9b;
}

.p-form__item--error {
  background: #fff3f3;
}

.p-form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.p-form__textarea {
  resize: none;
  font-size: 1.2rem;
  height: 13rem;
}

@media screen and (max-width: 414px) {
  .p-form__textarea {
    height: 20rem;
  }
}

.p-navbar {
  width: 100%;
  height: 64px;
  background: #ecf0f1;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: 1px;
}

.p-navbar__menu {
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.p-footer {
  background: #52c8e3;
  border-top: 1px solid #cdcdcd;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

.p-news__container {
  background: #f5f8ff;
  box-shadow: #edf1fa 0 0 20px;
  margin-top: 20px;
  padding: 15px 25px;
}

.p-news__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  background: #f6f6f6;
  box-shadow: #b0b0b0 0 0 5px;
  border-radius: 10px;
  transition: 0.2s all;
}

.p-news__search:focus-within {
  background: #FFF;
  box-shadow: #929292 0 1px 5px;
}

.p-news__headline {
  margin: 20px 30px;
  display: flex;
}

.p-news__list {
  margin: 20px 30px;
}

.p-news__item {
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 150px;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #0b2e13;
  font-size: 20px;
  box-shadow: 0 0 2px #cdcdcd;
  transition: 0.5s all;
  display: flex;
  word-break: break-word;
}

.p-news__item:nth-child(2n) {
  background: #f6f6f6;
}

.p-news__item:nth-child(2n+1) {
  background: #ffffff;
}

.p-news__item:hover {
  background: #fef7ff;
  border: 1px solid #f66d9b;
  box-shadow: 0 0 3px #f66d9b;
}

.p-news__item--picture {
  height: 120px;
  width: 120px;
  margin-right: 15px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}

.p-news__item--title {
  width: 65%;
  font-size: 20px;
  border-right: 0.5px solid #000;
  line-height: 1.2;
}

.p-news__item--title:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #0b2e13;
          text-decoration-color: #0b2e13;
}

.p-news__item--data {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.p-news__item--data .p-news__item--media {
  height: 50%;
  width: 100%;
  padding: 0 10px;
  font-size: 15px;
}

.p-news__item--data .p-news__item--time {
  height: 50%;
  width: 100%;
  padding: 0 10px;
  color: #4dc0b5;
}

.p-news__item--new {
  background: #f8ffed;
  box-shadow: 1px 1px 3px #cbe8ff;
}

.p-news__item--nothing {
  text-align: center;
  box-sizing: border-box;
  padding: 15px 25px;
}

.p-news__item--nothing h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.p-news__item--nothing p {
  font-size: 18px;
}

.c-btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  padding: 10px 50px;
  text-decoration: none;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: #f1f1f1;
  border: 1px solid #50cdcd;
  background: #8a92b2;
}

.c-btn:hover {
  background: #6da099;
}

.c-btn--link {
  border: 0;
}

.c-btn--fluid {
  width: 100%;
}

.c-btn--primary {
  background: #52c8e3;
}

.c-btn__main {
  text-align: center;
  padding: 15px 100px;
  margin: auto 0;
  font-size: 1.2rem;
}

.c-icon {
  height: 25px;
  width: 80px;
  background: #ffc9b2;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 10px;
  display: inline-block;
}

.c-errors {
  font-weight: bold;
}

.panel {
  border: 1px solid #dedede;
  padding: 1.5rem;
}

.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border: 1px solid #dedede;
  border-bottom: 2.5px solid #dedede;
  border-radius: 4px;
  color: #9f9f9f;
  cursor: pointer;
  padding: 1.2rem;
}

.tab__item--active {
  background: #f6fff0;
  border-bottom: 2px solid #1b515f;
  color: #222;
  font-weight: bold;
}

.c-input {
  border-radius: 4px;
  font-size: 20px;
  height: 100%;
  padding: 0 10px;
  width: 90%;
  /* 旧Edge対応 */
  /* IE対応 */
}

.c-input::-moz-placeholder {
  opacity: 0.5;
}

.c-input:-ms-input-placeholder {
  opacity: 0.5;
}

.c-input::placeholder {
  opacity: 0.5;
}

.c-input::-ms-input-placeholder {
  opacity: 0.5;
}

.c-input:-ms-input-placeholder {
  opacity: 0.5;
}

.c-input__searcharea {
  width: 100%;
  height: 100%;
}

.c-input__btn-area {
  height: 100%;
  width: 60px;
  z-index: 2;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-input__btn-area__reset {
  right: 0;
  position: absolute;
}

.c-input__btn-circle {
  border-radius: 50%;
  transition: all 0.2s;
  text-align: center;
  width: 40px;
  height: 40px;
}

.c-input__btn-circle:hover {
  background: #dbdbdb;
  cursor: pointer;
}

.c-checkbox__space {
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.c-checkbox__item {
  width: 25%;
  height: 30px;
  margin-bottom: 10px;
}

.c-modal {
  box-sizing: border-box;
  background: #e9e9e9;
  border-radius: 4px;
  transition: 0.3s all;
  width: 60%;
  top: 10%;
  left: 20%;
  padding: 20px 25px;
  position: fixed;
  z-index: 5;
}

.c-modal__cover {
  transition: 0.3s all;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0.5;
  background: #030303;
}

.c-modal__index {
  margin-top: 40px;
}

.c-modal__index-title {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}

.c-modal__head {
  text-align: center;
}

.c-modal__head-title {
  font-size: 30px;
  font-weight: bold;
}

.c-modal__title {
  width: 30%;
  border: 1px solid #000;
}

.title {
  font-weight: bold;
  margin: 2rem 0;
  text-align: center;
}

.c-site__link-nav {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  text-shadow: #dedede 0 2px 2px;
}

.c-site__link-nav__to-top {
  color: #4FB4D7;
}

.c-site__link-nav__to-content {
  color: orange;
}

.c-site__link-nav__to-top:hover,
.c-site__link-nav__to-content:hover {
  color: #ffcd22;
}

.c-site__title {
  border-bottom: 3px solid #4FB4D7;
  color: #4FB4D7;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

.p-news__container {
  background: #f5f8ff;
  box-shadow: #edf1fa 0 0 20px;
  margin-top: 20px;
  padding: 15px 25px;
}

.p-news__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  background: #f6f6f6;
  box-shadow: #b0b0b0 0 0 5px;
  border-radius: 10px;
  transition: 0.2s all;
}

.p-news__search:focus-within {
  background: #FFF;
  box-shadow: #929292 0 1px 5px;
}

.p-news__headline {
  margin: 20px 30px;
  display: flex;
}

.p-news__list {
  margin: 20px 30px;
}

.p-news__item {
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 150px;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #0b2e13;
  font-size: 20px;
  box-shadow: 0 0 2px #cdcdcd;
  transition: 0.5s all;
  display: flex;
  word-break: break-word;
}

.p-news__item:nth-child(2n) {
  background: #f6f6f6;
}

.p-news__item:nth-child(2n+1) {
  background: #ffffff;
}

.p-news__item:hover {
  background: #fef7ff;
  border: 1px solid #f66d9b;
  box-shadow: 0 0 3px #f66d9b;
}

.p-news__item--picture {
  height: 120px;
  width: 120px;
  margin-right: 15px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}

.p-news__item--title {
  width: 65%;
  font-size: 20px;
  border-right: 0.5px solid #000;
  line-height: 1.2;
}

.p-news__item--title:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #0b2e13;
          text-decoration-color: #0b2e13;
}

.p-news__item--data {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.p-news__item--data .p-news__item--media {
  height: 50%;
  width: 100%;
  padding: 0 10px;
  font-size: 15px;
}

.p-news__item--data .p-news__item--time {
  height: 50%;
  width: 100%;
  padding: 0 10px;
  color: #4dc0b5;
}

.p-news__item--new {
  background: #f8ffed;
  box-shadow: 1px 1px 3px #cbe8ff;
}

.p-news__item--nothing {
  text-align: center;
  box-sizing: border-box;
  padding: 15px 25px;
}

.p-news__item--nothing h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.p-news__item--nothing p {
  font-size: 18px;
}

.u-glay {
  color: #cdcdcd;
}

.u__mt-l {
  margin-top: 15px;
}

.u__mt-xl {
  margin-top: 20px;
}

.u__mt-3l {
  margin-top: 40px;
}

.u__mb-l {
  margin-bottom: 15px;
}

.u__mb-xl {
  margin-bottom: 20px;
}

.u__mb-3l {
  margin-bottom: 40px;
}

.u__pd {
  padding: 5px 5px;
}

.u-overflow__hidden {
  overflow: hidden;
}

