// ==============
//  l-container
//  =============
.l-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__auth {
    max-width: 768px;
    margin: 80px auto;
    @include mq($breakpoint: md) {
      max-width: 100%;
    }
  }
  &__content {
    max-width: 980px;
    margin: 100px auto 120px;

    @include mq() {
      padding: 0 $space_l;
    }
  }
}

