// ==============
//  l-container
//  =============
.l-container {
  width: 100%;
  height: auto;
  padding: 0 2%;

  &__auth {
    max-width: 768px;
    margin: auto;
    @include mq($breakpoint: md) {
      max-width: 100%;
    }
  }
  &__content {
    margin-top: 50px;
    margin-bottom: 120px;

    @include mq() {
      padding: 0 $space_l;
    }
  }
}
//
//// ==============
////  l-wrapper
////  =============
//.l-content-wrapper {
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//}

