//  ==============
//  l-hero
//  =============
.l-hero {
  // public/css/app.cssから見た相対パスにすること
  background-image: url("../storage/images/figures/hero_hand.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 70vh;
}