// =========
// u-color
// =========
.u-glay {
  color: #cdcdcd;
}

.u-bg {
  &-blue {
    background: #f5f6ff;
  }
  &-purple {
    background: #efe7fb;
  }
  &-green {
    background: #f0f5e7;
  }
}
